{% extends "base.html" %}

{% block content %}
    <div id="imgChoose" class="mt-5 bg-slate-700 border-dashed border-2 border-slate-500 rounded-lg flex flex-col items-center justify-center p-10">
        <img id="previewImage" src="{{ context.img }}" alt="stack-of-photos" class="w-full h-full" width="200" height="200"/>
    </div>

    <div class="mt-5 mb-4 text-white">
        <span class="w-full flex justify-center bg-slate-600 rounded-lg py-2 text-slate-100 border-2 border-slate-300 font-bold">
            {{ context.result }}
        </span>
    </div>
{% endblock content %}

{% block button %}
    <div class="flex gap-3">
        <button class="border-2 border-slate-300 text-white py-1 px-5 rounded" onclick="location.href = '/'; return false;">Back</button>
    </div>
{% endblock button %}